<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<!-- spring整合redis type="属性" 表示参数类型 -->
	<!-- <bean id="jedis" class="redis.clients.jedis.Jedis"> <constructor-arg 
		name="host" value="${redis.host}" /> <constructor-arg name="port" value="${redis.port}" 
		/> </bean> -->

	<!-- 实现spring整合分片 -->
	<!-- <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig"> 
		<property name="maxTotal" value="${redis.maxTotal}" /> </bean> -->

	<!-- 定义三个redis的节点 -->
	<!-- <bean id="shardInfoA" class="redis.clients.jedis.JedisShardInfo"> <constructor-arg 
		name="host" value="${redis.host}" /> <constructor-arg name="port" value="${redis.port.a}" 
		/> </bean> <bean id="shardInfoB" class="redis.clients.jedis.JedisShardInfo"> 
		<constructor-arg name="host" value="${redis.host}" /> <constructor-arg name="port" 
		value="${redis.port.b}" /> </bean> <bean id="shardInfoC" class="redis.clients.jedis.JedisShardInfo"> 
		<constructor-arg name="host" value="${redis.host}" /> <constructor-arg name="port" 
		value="${redis.port.c}" /> </bean> -->

	<!-- 定义连接池 -->
	<!-- <bean id="jedisPool" class="redis.clients.jedis.ShardedJedisPool"> 
		<constructor-arg name="poolConfig" ref="poolConfig" /> <constructor-arg name="shards"> 
		<list> <ref bean="shardInfoA" /> <ref bean="shardInfoB" /> <ref bean="shardInfoC" 
		/> </list> </constructor-arg> </bean> -->


	<!-- <bean id="sentinelPool" class="redis.clients.jedis.JedisSentinelPool"> 
		<constructor-arg name="masterName" value="${redis.masterName}"/> <constructor-arg 
		name="sentinels"> <set> <value>${redis.sentinel}</value> </set> </constructor-arg> 
		<constructor-arg name="poolConfig" ref="poolConfig"/> </bean> -->

	<!-- jedis 配置 -->
	<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
	 <property name="minIdle" value="${redis.minIdle}"/>
	 <property name="maxIdle" value="${redis.maxIdle}"/>
	 <property name="maxTotal" value="${redis.maxTotal}"/>
	 <property name="maxWaitMillis" value="${redis.maxWait}"/>
	 <property name="testOnBorrow" value="${redis.testOnBorrow}"/>
	</bean>

	<!--通过工厂模式获取数据 -->
	 <bean id="jedisCluster" class="com.jt.common.factory.JedisClusterFactory">
	 	<property name="propertySource">
	 		<value>classpath:/property/redis.properties</value>
	 	</property>
	 	<property name="poolConfig" ref="poolConfig"/>
	 	<property name="redisNodePerfix" value="redis.cluster"/>
	 </bean>
</beans>